version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo-franchise
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: franchise-api
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/franchise_db
    ports:
      - "8080:8080"

volumes:
  mongo-data:
